/* Blogs.css */
.thin-scrollbar::-webkit-scrollbar {
    width: 4px; /* Very thin scrollbar width */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* Almost transparent */
    border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
}

.thin-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}
